
// Line width
$line-width: 2rem;

.container-border {

    z-index: var(--container-border);

    &__line {
        background-color: var(--color-primary);
        position: absolute;
    }

    &--top {
        top:0 ;
        height: $line-width;
        width: 100%;
    }
    
    &--bottom {
        bottom:0 ;
        height: $line-width;
        width: 100%;
    }

    &--left {
        top: 0;
        left: 0;
        width: $line-width;
        height: 100vh;
    }

    &--right {
        top: 0;
        right: 0;
        width: $line-width;
        height: 100vh;
    }
}