@import"../../sass/main.scss";

$gutter: var(--gutter-container);
$index-footer: var(--index-footer);
.footer {
    padding: $gutter;
    padding-top: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: $index-footer;
    
    // @include border(blue);

    .copyright {
        font-size: 1.1rem;
        color: var(--color-light-grey-2);
    }
}