[submodule "simple-js-responsive-blog"]
	path = simple-js-responsive-blog
	url = git@github.com:ks0430/simple-js-responsive-blog.git
[submodule "ios-simple-calculator"]
	path = ios-simple-calculator
	url = https://github.com/ks0430/ios-simple-calculator
