@import "~bootstrap/scss/bootstrap-grid.scss";

$max-width: var(--width-body-max);

.main-container {
  margin: 0 auto;
  max-width: $max-width;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    padding:  var(--gutter-container);
  }
}

.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: all 500ms;
  }
}

