$max-width: var(--width-body-max);

.main-container {
  max-width: $max-width;
  margin: 0 auto;
}

.fade {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: all 500ms;
  }
}

