$gridGap: 3rem;

.work-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-column-gap: $gridGap;
  grid-row-gap: $gridGap;

  &__nothing {
    height: 20rem;
    text-align: center;
    font-size: 5rem;
    width: 100%;
    grid-column: 1 / span 3;
  }
}



