.work {
  height: 200rem;
}

.section-nav {
  margin: 3rem 0;

  & >:not(:last-child) {
    margin-right: 2rem;
  }

  &__item > &__link {

    &:visited,&:link{
      padding: 0;
    }

    &:hover, &:active {
      color: currentColor;
    }
  }
}