.work {
  height: 200rem;
}

.section-nav {
  margin: 3rem 0;

  & >:not(:last-child) {
    margin-right: 2rem;
  }

  &__item > &__link {

    &:visited,&:link{
      padding: 0;
    }

    &:hover, &:active {
      color: currentColor;
    }
  }
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  
  
  &__item {
    background-color: aqua;
  }
}