.block {


  &-enter {
    background-color: yellow;
    transition: all 3000ms ease-out;
  }

  &-enter-active {
    background-color: blue;

  }

  &-enter-done {
    background-color: red;
    transition: all 3000ms ease-out;
  }

  &-exit {
    background-color: brown;
  }

  &-exit-active {
    background-color: blueviolet;
    transition: all 3000ms ease-out;
  }

  &-exit-done {
    background-color: chocolate;
  }

  &-appear {
    background-color: darkolivegreen;
  }

  &-appear-active {
    background-color: cornflowerblue;
  }
}