
// Color define
$red_chiaki: #e84a5f;
$indigo_primary: rgb(49,66,153);
// Navbar link border color
$color-light-grey-221: rgb(221,221,221);
$color-light-grey-999: #999;
$color-dark-grey-54: rgb(54,54,54);
// z-index-manager
$index-2000: 2000;
$index-1000: 1000;
// border with
$width-container-border: 2.5rem;
// Gutter between body & border
$gutter-container:  2.5rem;
// body max width
$width-body-max: 107rem;


:root {
    // Color primary
    --color-primary:#{$indigo_primary};

    // index
    --index-container-border:#{$index-2000};
    --index-header: #{$index-1000};
    --index-footer: #{$index-1000};
    // gutter & width
    --width-container-border: #{$width-container-border};
    --gutter-container: #{$width-container-border + $gutter-container};
    --width-body-max: #{$width-body-max};
    // color
    --color-light-grey:#{$color-light-grey-221};
    --color-light-grey-2:#{$color-light-grey-999};
    --color-dark-grey:#{$color-dark-grey-54};
    
}


