
// Color define
$red_chiaki: #e84a5f;
$indigo_primary: rgb(49,66,153);
// Navbar link border color
$color-light-grey-221: rgb(221,221,221);
$color-light-grey-999: #999;
$color-dark-grey-54: rgb(54,54,54);
// z-index-manager
$index-container-border: 2000;
// border with
$width-container-border: 2.5rem;
// Gutter between container & page
$gutter-container:  2.5rem;


:root {
    // Color primary
    --color-primary:#{$indigo_primary};


    // Layout gutter
    --index-container-border:#{$index-container-border};
    --width-container-border: #{$width-container-border};
    --gutter-container: #{$width-container-border + $gutter-container};
    // color
    --color-light-grey:#{$color-light-grey-221};
    --color-light-grey-2:#{$color-light-grey-999};
    --color-dark-grey:#{$color-dark-grey-54};
    
}


