$color-text-shadow: var(--color-primary);

.main-title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // @include border(red);

  &__title {
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    position: relative;

    &::before,&::after {
      content:attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
      // color: red;
      clip: rect(0,0,0,0);
    }

    &::before {
      left:-2px;
      text-shadow: 2px 0 $color-text-shadow;
      animation: shakeWord-2 2s infinite linear alternate-reverse;
    }

    &::after {
      left: -2px;
      text-shadow: -1px 0 $color-text-shadow;
      animation: shakeWord 2s infinite linear alternate-reverse;
    }
  }
}