$shadow-color: var(--color-yellow-light-1);

.sub-title {
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: inset 0 -6px 0 $shadow-color;
}